build/
.vscode

!dataset/bigann/compute_gt.py
dataset/bigann/bigann*
dataset/deep/
dataset/gist/
dataset/sift/
dataset/siftsmall/
dataset/ssnpp/

knn_graph
nsg_graph
search_result

anals/nsg_random
anals/nsg_no_random
anals/wadg
anals/*.zip